{% extends 'base.html.twig' %}

{% block title %}
Ajouter un souhait | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Ajouter un souhait</h1>
    <div>
        {{ form_start(wishForm) }}
            {{ form_row(wishForm.title) }}
            {{ form_row(wishForm.description) }}
            {{ form_row(wishForm.author,
                {
                    'attr':
                    {
                        'placeholder': app.user.pseudo,
                        'value': app.user.pseudo
                    }
                }
            ) }}
            {{ form_row(wishForm.category) }}
        <button>Ajouter</button>
        {{ form_end(wishForm) }}
    </div>
{% endblock %}

