<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('main_about') }}" title="À propos de nous">À propos</a></li>
        <li><a href="{{ path('wish_list') }}" title="Liste de souhaits">Liste de souhaits</a></li>

        {% if app.user %}
            <li><a href="{{ path('wish_create') }}" title="Ajouter un souhait">Ajouter un souhait</a></li>

            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path('admin_dashboard') }}" title="Panel admin">Panel admin</a></li>
            {% endif %}

            <li><a href="{{ path('app_logout') }}" title="Déconnexion">Déconnexion</a></li>
            <li><i>Bonjour {{ app.user.pseudo }}</i></li>
        {% else %}
            <li><a href="{{ path('app_login') }}" title="Se connecter">Se connecter</a></li>
            <li><a href="{{ path('app_register') }}" title="Créer un compte">Créer un compte</a></li>
        {% endif %}
    </ul>
</nav>